{
  "bloomsky": {
    "url": "https://api.bloomsky.com/api/skydata/",
    "api_key": "API KEY HERE"
  },
  "station":{
    "type": "Sent by Bloomsky to CWOP script: https://github.com/emresaglam/bloomsky-to-cwop",
    "name": "YOUR CWOP ID",
    "pass": "YOUR CWOP PASS",
    "latitude": "LATITUDE IN THE FORMAT DDMM.MM",
    "longitude": "LONGITUDE IN THE FORMAT DDMM.MM"
  },
  "aprs":{
    "server": "rotate.aprs2.net",
    "port": 14580
  }
}
